@model IEnumerable<Softuni___Memes.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                <div>@item.Id</div>
            </th>
            <th>
                <div>@item.ImageId</div>
            </th>
            <th>
                <div>@item.UserId</div>
            </th>
        </tr>
    }

</table>
