@using Microsoft.AspNet.Identity
@using Softuni___Memes.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
           @Html.ActionLink("Hello, " + @Html.Raw(Html.Action("GetCurrentUserName", "Account")) + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <button type='button' class='btn btn-primary' id="button" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
    <button type='button' class='btn btn-primary' id="button" onclick="location.href='@Url.Action("Register", "Account")'">Sign up</button>
    /*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink(" ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>      
    </ul>*/
}
