@using Microsoft.AspNet.Identity
@model Softuni___Memes.Models.ImageModel

@{
    ViewBag.Title = "Comments";
}

<div class="wrapper">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 work-item-comments">
            <img class="img-responsive" src="@Url.Action("GetImage","Image",new { id = Model.Id})" />
        </div>
    </div>
    <div class="row">
        <h3 style="color: #224364">@ViewBag.Title</h3> 
        <hr style="border-color: #224364"/>
@*        @if (ViewBag.Comments.Count == 0)*@
@*            {*@
@*            <div>*@
@*                No Comments*@
@*            </div>*@
@*        }*@

        @foreach (var item in ViewBag.Comments)
            {
            <div id="comment-view" class="work-text">
                <p>Comment by <b>@item.AuthorFirstName @item.AuthorLastName</b>, (<b>@item.UserName</b>) On <em>@item.Date.ToString().Split(' ')[0]</em></p>
                <p>@item.Body</p>
                @if (Request.IsAuthenticated && item.UserName.Equals(User.Identity.GetUserName()))
                {
                    <button type="submit" id="button" onclick="location.href ='@Url.Action("Edit", "Comments", new {id = item.Id})'">
                        Edit
                    </button>
                    <button type="submit" id="button" onclick="location.href ='@Url.Action("Delete", "Comments", new {id = item.Id})'">
                        Delete
                    </button>

                }
            </div>
        }
    </div>
    <div class="row">
        @if (User.Identity.GetUserId() != null)
            {
            <div class="col-md-offset-4 col-md-4">
                <button class="btn btn-default" onclick="window.location='@Url.Action("Create","Comments",new { id = Model.Id})'">Add Comment</button>
            </div>
        }
        @if (Model.AuthorId.Equals(User.Identity.GetUserId()))
            {
            <button type="button" id="button" onclick="window.location= '@Url.Action("Delete", "Image", new { id = Model.Id })'">Delete Meme</button>
        }
    </div>
</div>
