@using Microsoft.AspNet.Identity
@model Softuni___Memes.Models.ImageModel

@{
    ViewBag.Title = "Details";
}
<div>
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Action("GetImage","Image",new { id = Model.Id})"/>
        </dd>

        <dt>
            @Html.DisplayName("Comments")
        </dt>
        @if (ViewBag.Comments.Count == 0)
        {
            <dd>
                No Comments
            </dd>
        }
        @foreach (var item in ViewBag.Comments)
        {
            <dd>
                <p>Comment by <b>@item.UserName</b> On <em>@item.Date<em></p>
                <p>@item.Body</p>
            </dd>
        }
        
        @if (User.Identity.GetUserId() != null)
        {
            <dd>
                <button class="btn btn-default" onclick="window.location='@Url.Action("Create","Comments",new { id = Model.Id})'">Add Comment</button>
            </dd>
        }
        
    </dl>
</div>