@using Microsoft.AspNet.Identity
@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<Softuni___Memes.Models.ImageModel>

@{
    ViewBag.Title = "All Memes";
}
<div class="content container">
    <div class="wrapper text-center">
        <div id="memesTitle">@ViewBag.Title</div>
        <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

        <button type='button' class='btn btn-primary' id="button" onclick="location.href = '@Url.Action("Create", "Image")'">Create new</button>

        <div class="row">
            @foreach (var item in ViewBag.OnePageOfImages)
            {
                <div class="col-md-3 work-item">
                       
                    <div class="work-title">
                        <img src="@Url.Action("GetImage", "Image", new {id = item.Id})" onclick="location.href = '@Url.Action($"Details/{item.Id}")'" class="img-responsive" />
                        @if (Request.IsAuthenticated)
                        {
                            <div class="col-md-4 average">
                                Average score: @($"{item.AverageScore:F1}")/@item.NumberOfPeopleVoted
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <input id="rank-@item.Id" class="rating rating-loading" value="@($"{item.AverageScore:F1}")" data-step="1.0" data-max="5" data-min="0" data-show-clear="false" data-size="xxs" data-show-caption="false" />
                                </div>
                                <div class="col-md-6">
                                    <input class="btn btn-primary" type="submit" value="Rate" />
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 average">
                                Average score: @($"{item.AverageScore:F1}")/@item.NumberOfPeopleVoted
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfImages, page => Url.Action("Index", new { page }))
    </div>
</div>
@section Styles {
    <link href="@Url.Content("~/Content/star-rating.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/star-rating.js")
    @Scripts.Render("~/Scripts/rateIt.js")
}
