@using Microsoft.AspNet.Identity
@model IEnumerable<Softuni___Memes.Models.ImageModel>

@{
    ViewBag.Title = "All Memes";
}

<center><h2>@ViewBag.Title</h2></center>

<button type='button' class='btn btn-primary' id="button" onclick="location.href='@Url.Action("Create", "Image")'">Create new</button>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                
                <img src="@Url.Action("GetImage", "Image",new { id = item.Id})" />
                
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id})<br>
                @if (item.AuthorId.Equals(User.Identity.GetUserId()))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br>
                }
                @Html.ActionLink("Download", "DownloadImage", new { id = item.Id })
                <div style="position:absolute">
                    <input id="rank-@item.Id" class="rating rating-loading" value="3" data-step="0.5" data-max="5" data-min="0" data-show-clear="false" data-size="sm"/>
                    <input id="rate" class="rate btn btn-default" type="submit" value="Rate" />
                 </div>
            </td>
        </tr>
    }
    
</table>
@section Styles {
    <link href="@Url.Content("~/Content/star-rating.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/star-rating.js")
    @Scripts.Render("~/Scripts/rateIt.js")
}

