@using Microsoft.AspNet.Identity
@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<Softuni___Memes.Models.ImageModel>

@{
    ViewBag.Title = "All Memes";
}

<center>
    <h2>@ViewBag.Title</h2>
</center>
<div class="wrapper">
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <button type='button' class='btn btn-primary' id="button" onclick="location.href = '@Url.Action("Create", "Image")'">Create new</button>


    <div class="row animate-box" data-animate-effect="fadeInLeft">
        @foreach (var item in ViewBag.OnePageOfImages)
        {
            <div class="col-md-3 work-item">
                <a>
                    <img src="@Url.Action("GetImage", "Image",new { id = item.Id})" onclick="location.href='@Url.Action($"Details/{item.Id}")'" class="img-responsive" />
                </a>
                <div class="work-title">
                    @Html.ActionLink(" ", "DownloadImage", new { id = item.Id }, new { @class = "navbar-brand col-md-2", @id = "downloads" })
                    @if (Request.IsAuthenticated)
                    {
                        <div class="col-md-4">
                        </div>
                    }
                    else
                    {
                        <div class="col-md-offset-4 col-md-4">
                        </div>

                    }

                    @if (Request.IsAuthenticated)
                    {
                        <input id="rate" class="col-md-offset-1 col-md-3 rate btn btn-default" type="submit" value="Rate" style="padding-left: 10px" />
                        <input id="rank-@item.Id" class="rating rating-loading" value="@($"{item.AverageScore:F1}")" data-step="0.5" data-max="5" data-min="0" data-show-clear="false" data-size="sm" data-show-caption="false" />

                    }
                </div>
                @if (item.AuthorId.Equals(User.Identity.GetUserId()))
                {
                    <div class="class='btn btn-primary' id=" button"">
                        <button type='button' class='btn btn-primary' id="button" onclick="location.href = '  @Url.Action("Delete", new { id = item.Id })'">Delete</button>

                    </div>
                }
            </div>
        }
    </div>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfImages, page => Url.Action("Index", new { page }))
</div>
@section Styles {
    <link href="@Url.Content("~/Content/star-rating.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/star-rating.js")
    @Scripts.Render("~/Scripts/rateIt.js")
}

