@using Microsoft.AspNet.Identity
@model IEnumerable<Softuni___Memes.Models.ImageModel>

@{
    ViewBag.Title = "All Pictures";
}

<h2>@ViewBag.Title</h2>

<button type='button' class='btn btn-primary' id="button" onclick="location.href='@Url.Action("Create New", "Create")'">Create new</button>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@

                <img src="@Url.Action("GetImage", "Image",new { id = item.Id})" />

            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id})<br>
                @if (item.AuthorId.Equals(User.Identity.GetUserId()))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br>
                }
                @Html.ActionLink("Download", "DownloadImage", new { id = item.Id })
            </td>
        </tr>
    }

</table>
