@model Softuni___Memes.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<div class="wrapper">
    <h3 style="font-family: Lato; color: #224364">Are you sure you want to delete this comment?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" id="button" value="Delete" class="btn btn-default" /> |
            <a href='@Url.Action("Details", "Image",new { id = Model.ImageId})'>Go back</a>
        </div>
    }
</div>
