@model Softuni___Memes.Models.Comment

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content container">
        <div class="wrapper text-center">
            <hr style="border-color: #224364" />
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <p id="label" class="col-md-offset-2 col-md-8">@Html.Label("Edit comment:")</p>
                    <div class="col-md-offset-2 col-md-8">
                        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <br/>
                        <input type="submit" id="button" value="Save" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <a href='@Url.Action("Details", "Image",new { id = Model.ImageId})'>Go back</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}